body {
    background-color: #6D5013;
    color: #333;
}

    a {
        color: #5AE86F;
    }

.navbar-inner {
    background: black;
}
    .navbar .brand {
        color: #E4E85A;
    }
    .navbar .nav > li > a {
        color: #E4E85A;
    }

h1,h2,h3,h4 { 
    color: #E4E85A;
}
